:global(body) {
  margin: 0;
  padding: 0;
  background-color: #53bda6;
}

.pinRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pin {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: black;
  margin: 5px;
}

.scoreboard {
  display:flex;
  justify-content: center;
}

.frame {
  border: 1px solid black;
  width: 75px;
  height: 125px;
  display: grid;
}

.topOfFrame {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.frameRoll {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  text-align: center;
}

.frameScore {
  font-size: 25px;
  text-align: center;
  vertical-align: center;
}